/* Editor Styling Start */
.inputBox {
  border: none;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
  /* line-height: 1em; */
  color: transparent;
  caret-color: rgba(0, 0, 0, 1);
  white-space: pre-wrap;
  word-wrap: break-word;
}

body {
  margin: 0;
  padding: 0;
}

/* Will not work on ios safari */
.inputBox::-moz-selection {
  color: transparent;
  background-color: #3297FD;
}

.inputBox::selection {
  color: transparent;
  background-color: #3297FD;
}

.top {
  z-index: 1;
}

.visualBox {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* line-height: 1em; */
}
/* Editor Styling End */

/* Keyword Highlight Classes */
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underlined {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

/* Note Font Family */

.serif,
.serif>* {
  font-family: serif !important;
}

.sans-serif,
.sans-serif>* {
  font-family: sans-serif !important;
}

.times-new-roman, 
.times-new-roman>*{
  font-family: 'Times New Roman' !important;
}

.georgia,
.georgia>* {
  font-family: georgia !important;
}

.verdana,
.verdana>* {
  font-family: verdana !important;
}

.arial,
.arial>* {
  font-family: arial !important;
}

.monospace,
.monospace>* {
  font-family: monospace !important;
}

/* Note Font Size */

.small {
  font-size: 20px;
}

.medium {
  font-size: 24px;
}

.large {
  font-size: 28px;
}

.x-large {
  font-size: 32px;
}